<div class="comments m-5">
    <p class="text-body">{{this.length}} {{format_plural "comment" this.length}}</p>
    {{#each this}}
    <section class="card my-4 comment">
        <div class="card-header meta">
            {{user.username}}
        </div>
        <div class="card-body text-body comment-main">
            {{comment_text}}
        </div>
        <div class="card-footer">
            on {{format_date created_at}} at {{format_time created_at}}
        </div>
    </section>
    {{/each}}
</div>